@charset "utf-8";
body,div,ul,ol,li,h1,h2,h3,p,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
  margin: 0;
  padding: 0;
}
ul,ol,li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: text-bottom;
}
h1,h2,h3 {
  font-weight: normal;
}
#large img {
  width: 260px; height: 255px;
}
#medium img {
  width: 174px; height: 170px;
}
#small img {
  width: 130px; height: 127px;
}
#large div.window {
  position: absolute;
  width: 1070px; height: 300px;
  background: #CCC;
}
#medium div.window {
  position: absolute;
  width: 714px; height: 200px;
  background: #CCC;
}
#small div.window {
  position: absolute;
  width: 535px; height: 150px;
  background: #CCC;
}
#large div.titlebar {
  position: absolute;
  top: 0px; height: 40px;
  width: 1070px;
  background: #000;
  text-align: center;
  color: #FFF;
  padding: 7px 0;
  font: bold 14pt sans-serif;
}
#medium div.titlebar {
  position: absolute;
  top: 0px; height: 26px;
  width: 714px;
  background: #000;
  text-align: center;
  color: #FFF;
  padding: 5px 0;
  font: bold 10pt sans-serif;
}
#small div.titlebar {
  position: absolute;
  top: 0px; height: 20px;
  width: 535px;
  background: #000;
  text-align: center;
  color: #FFF;
  padding: 3px 0;
  font: bold 6pt sans-serif;
}
#large div.content {
  position: absolute;
  top: 40px; height: 260px;
  width: 1080px;
  margin: 0 -10px 0 0;
  overflow: auto;
  background: #FFF;
}
#medium div.content {
  position: absolute;
  top: 26px; height: 174px;
  width: 720px;
  margin: 0 -6px 0 0;
  overflow: auto;
  background: #FFF;
}
#small div.content {
  position: absolute;
  top: 20px; height: 130px;
  width: 540px;
  margin: 0 -5px 0 0;
  overflow: auto;
  background: #FFF;
}
#large figure {
  position: relative;
  overflow: hidden;
  width: 260px;
}
#medium figure {
  position: relative;
  overflow: hidden;
  width: 174px;
}
#small figure {
  position: relative;
  overflow: hidden;
  width: 130px;
}
figcaption h3,
figcaption p {
  position: absolute;
  z-index: 2;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
}
#large figcaption h3 {
  top: 10px;    left: 10px;
  height: 30px; width: 100px;
  font: bold 15pt sans-serif;
  padding: 5px 0;
  text-align: center;
  color: #FFF;
}
#medium figcaption h3 {
  top: 6px;    left: 6x;
  height: 20px; width: 66px;
  font: bold 10pt sans-serif;
  padding: 4px 0;
  text-align: center;
  color: #FFF;
}
#small figcaption h3 {
  top: 5px;    left: 5px;
  height: 15px; width: 50px;
  font: bold 7pt sans-serif;
  padding: 3px 0;
  text-align: center;
  color: #FFF;
}
#large figcaption p {
  bottom: 0;
  left: 0; 
  height: 60px; width: 100%;
  line-height: 40px;
  font: bold 15pt sans-serif;
  text-align: center;
  color: #FFF;
}
#medium figcaption p {
  bottom: 0;
  left: 0; 
  height: 40px; width: 100%;
  line-height: 26px;
  font: bold 10pt sans-serif;
  text-align: center;
  color: #FFF;
}
#small figcaption p {
  bottom: 0;
  left: 0; 
  height: 30px; width: 100%;
  line-height: 13px;
  font: bold 8pt sans-serif;
  text-align: center;
  color: #FFF;
}
#large figure:hover figcaption h3 {
  left: -110px;
}
#medium figure:hover figcaption h3 {
  left: -72px;
}
#small figure:hover figcaption h3 {
  left: -55px;
}
#large figure:hover figcaption p {
  bottom: -60px;
}
#medium figure:hover figcaption p {
  bottom: -40px;
}
#small figure:hover figcaption p {
  bottom: -30px;
}
#large ul li {
  float: left;
  width: 260px;
  margin-right: 10px;
}
#medium ul li {
  float: left;
  width: 174px;
  margin-right: 6px;
}
#small ul li {
  float: left;
  width: 130px;
  margin-right: 5px;
}
ul li.bestsell {
  position: relative;
  overflow: hidden;
}
#large ul li.bestsell:after {
  position: absolute;
  background: #26ACC0;
  content: "Best Seller";
  font: bold 11pt sans-serif;
  top: 10px;
  right: -40px;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  width: 150px;
  box-shadow: 0 1px 3px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#medium ul li.bestsell:after {
  position: absolute;
  background: #26ACC0;
  content: "Best Seller";
  font: bold 8pt sans-serif;
  top: 6px;
  right: -26px;
  padding: 3px 6px;
  text-align: center;
  color: #FFF;
  width: 100px;
  box-shadow: 0 1px 2px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#small ul li.bestsell:after {
  position: absolute;
  background: #26ACC0;
  content: "Best Seller";
  font: bold 6pt sans-serif;
  top: 5px;
  right: -20px;
  padding: 2px 5px;
  text-align: center;
  color: #FFF;
  width: 80px;
  box-shadow: 0 1px 1px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
ul li.discount {
  position: relative;
  overflow: hidden;
}
#large ul li.discount:after {
  position: absolute;
  background: #4f2cf5;
  content: "Discount!!";
  font: bold 11pt sans-serif;
  top: 10px;
  right: -40px;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  width: 150px;
  box-shadow: 0 1px 3px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#medium ul li.discount:after {
  position: absolute;
  background: #4f2cf5;
  content: "Discount!!";
  font: bold 8pt sans-serif;
  top: 6px;
  right: -26px;
  padding: 3px 6px;
  text-align: center;
  color: #FFF;
  width: 100px;
  box-shadow: 0 1px 2px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#small ul li.discount:after {
  position: absolute;
  background: #4f2cf5;
  content: "Discount!!";
  font: bold 6pt sans-serif;
  top: 5px;
  right: -20px;
  padding: 2px 5px;
  text-align: center;
  color: #FFF;
  width: 80px;
  box-shadow: 0 1px 1px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
ul li.releases {
  position: relative;
  overflow: hidden;
}
#large ul li.releases:after {
  position: absolute;
  background: #ea046a;
  content: "New !!";
  font: bold 11pt sans-serif;
  top: 10px;
  right: -40px;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  width: 150px;
  box-shadow: 0 1px 3px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#medium ul li.releases:after {
  position: absolute;
  background: #ea046a;
  content: "New !!";
  font: bold 8pt sans-serif;
  top: 6px;
  right: -26px;
  padding: 3px 6px;
  text-align: center;
  color: #FFF;
  width: 100px;
  box-shadow: 0 1px 2px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#small ul li.releases:after {
  position: absolute;
  background: #ea046a;
  content: "New !!";
  font: bold 6pt sans-serif;
  top: 5px;
  right: -20px;
  padding: 2px 5px;
  text-align: center;
  color: #FFF;
  width: 80px;
  box-shadow: 0 1px 1px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
ul li.salesrnk {
  position: relative;
  overflow: hidden;
}
#large ul li.salesrnk:after {
  position: absolute;
  background: #f9b304;
  content: "Rank-In!!";
  font: bold 11pt sans-serif;
  top: 10px;
  right: -40px;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  width: 150px;
  box-shadow: 0 1px 3px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#medium ul li.salesrnk:after {
  position: absolute;
  background: #f9b304;
  content: "Rank-In!!";
  font: bold 8pt sans-serif;
  top: 6px;
  right: -26px;
  padding: 3px 6px;
  text-align: center;
  color: #FFF;
  width: 100px;
  box-shadow: 0 1px 2px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#small ul li.salesrnk:after {
  position: absolute;
  background: #f9b304;
  content: "Rank-In!!";
  font: bold 6pt sans-serif;
  top: 3px;
  right: -13px;
  padding: 1px 3px;
  text-align: center;
  color: #FFF;
  width: 80px;
  box-shadow: 0 1px 1px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}

/*# sourceMappingURL=common.css.map*/