ul li.bestsell {
  position: relative;
  overflow: hidden;
}

#large ul li.bestsell:after {
  position: absolute;
  background: #26ACC0;
  content: "Best Seller";
  font: bold 11pt sans-serif;
  top: 10px;
  right: -40px;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  width: 150px;
  box-shadow: 0 1px 3px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#medium ul li.bestsell:after {
  position: absolute;
  background: #26ACC0;
  content: "Best Seller";
  font: bold 8pt sans-serif;
  top: 6px;
  right: -26px;
  padding: 3px 6px;
  text-align: center;
  color: #FFF;
  width: 100px;
  box-shadow: 0 1px 2px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
#small ul li.bestsell:after {
  position: absolute;
  background: #26ACC0;
  content: "Best Seller";
  font: bold 6pt sans-serif;
  top: 5px;
  right: -20px;
  padding: 2px 5px;
  text-align: center;
  color: #FFF;
  width: 80px;
  box-shadow: 0 1px 1px #999;
  transform: rotate(30deg);
  -web-kit-transform: rotate(30deg);
}
